.page-template-frontpage {
    #page {
        .home-carousel {
            position: relative;
            min-height: 200px;
            overflow: hidden;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                z-index: 10;

                li {
                    background-size: cover;
                    opacity: 0;
                    transition:opacity 1s ease-in-out;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        background-color: #000;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 15;
                        opacity: .6;
                    }

                    &.active {
                        opacity: 1;
                    }
                }

                span {
                    display: inline-block;

                    h1 {
                        // display: table;
                        vertical-align: middle;
                        font-family: $font__alt-bold;
                        position: absolute;
                        z-index: 30;
                        color:#FFF;
                        text-shadow: 0 0 15px rgba(0, 0, 0, .5);
                        margin: 0;
                        line-height: 1;
                        text-transform: capitalize;
                        padding: 1em 0 0 .5em;
                        width: 80%;
                        font-size: 2em;
                    }

                }
            }

            ul, ul li {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom:0;
            }

            ol {
                list-style: none;
                position: absolute;
                z-index: 25;
                bottom: 0;
                left: 0;
                margin: 0 0 1em 0;
                padding: 0;
                padding-left: 1em;

                li {
                    display: inline-block;
                }

                a {
                    display: block;
                    width: 20px;
                    height: 20px;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    background-color: $color__brand-2;
                    border-radius: 50%;
                    margin-right: .375em;
                    transition:background-color .25s;
                    @include respond-to(small) {
                        width: 25px;
                        height: 25px;
                        margin: 0 .375em;
                    }

                    &:hover {
                        background-color: #333;
                    }
                }

                .active > a {
                    background-color: #666;

                    &:hover {
                        cursor: text;
                    }
                }
            }
            @include respond-to(small) {
                min-height: 225px;

                ul {
                    span {
                        h1 {
                            font-size: 2.6em;
                            width: 90%;
                            padding-top: .5em;
                        }
                    }
                }
            }
            @media screen and (min-width: 460px) {
                min-height: 250px;
                ul {
                    span {
                        h1 {
                            font-size: 3em;
                            width: 85%;
                        }
                    }
                }
            }
            // @media screen and (min-width: 510px) {

            //     ul {
            //         span {
            //             h1 {
            //                 // font-size: 3.3em;
            //                 // width: 85%;
            //             }
            //         }
            //     }
            // }
            @include respond-to(small-land) {

                ul {
                    span {
                        h1 {
                            padding-top: 1.5em;
                            font-size: 3.2em;
                            width: 90%;
                        }
                    }
                }
            }
            @media screen and (min-width: 660px) {

                ul {
                    span {
                        h1 {
                            width: 85%;
                            padding-top: 1em;
                            font-size: 3.5em;
                        }
                    }
                }
            }
            @include respond-to(tablet) {
                min-height: 300px;

                ul {
                    span {
                        h1 {
                            width: 80%;
                            padding-top: 1.5em;
                            font-size: 3.7em;
                        }
                    }
                }
            }
            @include respond-to(medium) {
                min-height: 400px;
                ul {
                    span {
                        h1 {
                            padding-top: 2.5em;
                            font-size: 4.5em;
                            // width: 65%;
                        }
                    }
                }
                ol {
                    margin: 0 0 1.5em 1em;

                     a {
                        width: 25px;
                        height: 25px;
                     }
                }
            }
            @include respond-to(large) {
                ul {
                    span {
                        h1 {
                            padding-top: 2em;
                            font-size: 5em;
                            width: 65%;
                        }
                    }
                }
            }
            @include respond-to(x-large) {
                height: 500px;
                margin-bottom: 1em;
                ul {
                    span {
                        h1 {
                            font-size: 6em;
                            padding-top: 2.3em;
                        }
                    }
                }
            }
            @media screen and (min-width: 1800px) {

                ul {
                    span {
                        h1 {
                            width: 55%;
                        }
                    }
                }
            }
        }
        .site-content {
            padding-top: 1em;
            .content-area {
                .site-main {
                    article {
                        .page-wrapper {
                            .entry-header h1 {

                            }
                            .entry-content {

                            }
                            @media screen and (min-width:460px) {
                                .entry-header h1 {
                                    // padding-right:2em;
                                }
                            }
                            @media screen and (min-width:528px) {
                                .entry-header h1 {
                                    padding-right:3em;
                                }
                            }
                            @media screen and (min-width:632px) {
                                .entry-header h1 {
                                    padding-right:6em;
                                }
                            }
                            @media screen and (min-width:738px) {
                                .entry-header h1 {
                                    padding-right:10em;
                                }
                            }
                            @media screen and (min-width:890px) {
                                .entry-header h1 {
                                    padding-right:13em;
                                }
                            }
                            @media screen and (min-width:910px) {
                                .entry-header h1 {
                                    padding-right:13em;
                                }
                            }
                            @include respond-to(medium) {
                                @keyframes dropLogo {
                                  0% {
                                    transform: translateY(-50%);
                                  }
                                  100% {
                                    transform: translateY(0);
                                  }
                                }
                                .entry-header {
                                    position: relative;
                                    h1 {
                                        margin-top: 0;
                                        padding-right: 0;
                                        padding-left: 1em;
                                        // flex: 1;
                                        &:before {
                                            position: absolute;
                                            left: 0;
                                            background-image: url(/wp-content/themes/stern_thomasson/imgs/paragraph-logo.svg);
                                            // background-image: url(/wp-content/themes/stern_thomasson/imgs/paragraph-logo-25x60.png);
                                            background-repeat: no-repeat;
                                            width: 65px;
                                            height: 80px;
                                            content:"";
                                            margin-top: 10px;
                                            margin-right: 0;
                                            animation-name: dropLogo;
                                            animation-iteration-count: 1;
                                            animation-timing-function: ease-out;
                                            animation-duration: 1.5s;
                                        }
                                    }
                                }
                                .entry-content {
                                    font-size:1.125rem;
                                    margin-left: 3.2em;
                                }
                            }
                            @media screen and (min-width:1280px) {
                                .entry-header h1 {
                                    padding-right:4em;
                                }
                            }
                        }
                    }
                }
            }
            @include respond-to(medium) {
                padding-top: 1em;
            }
            @include respond-to(large) {
                .widget-area {
                    max-width: 350px;
                }
            }
        }
    }
}