.page-template-frontpage {
    #page {

        #home-carousel {
            border: 1px solid red;
            min-height:300px;
            position:relative;

            ul {
                list-style:none;
                position:absolute;
                overflow:hidden;
                left:0;
                top:0;
                right:0;
                bottom:0;
                padding:0;
                margin:0;

                li {

                }

                .active {
                    opacity:1;
                }
            }

        }


        .site-content {
            padding-top: 0;
            .content-area {
                .site-main {
                    article {
                        .page-wrapper {
                            .entry-header h1 {

                            }
                            .entry-content {

                            }
                            @media screen and (min-width:460px) {
                                .entry-header h1 {
                                    // padding-right:2em;
                                }
                            }
                            @media screen and (min-width:528px) {
                                .entry-header h1 {
                                    padding-right:3em;
                                }
                            }
                            @media screen and (min-width:632px) {
                                .entry-header h1 {
                                    padding-right:6em;
                                }
                            }
                            @media screen and (min-width:738px) {
                                .entry-header h1 {
                                    padding-right:10em;
                                }
                            }
                            @media screen and (min-width:890px) {
                                .entry-header h1 {
                                    padding-right:13em;
                                }
                            }
                            @media screen and (min-width:910px) {
                                .entry-header h1 {
                                    padding-right:13em;
                                }
                            }
                            @include respond-to(medium) {
                                @keyframes dropLogo {
                                  0% {
                                    transform: translateY(-35%);
                                  }
                                  100% {
                                    transform: translateY(0);
                                  }
                                }
                                .entry-header {
                                    position: relative;
                                    h1 {
                                        padding-right: 0;
                                        padding-left: 1em;
                                        // flex: 1;
                                        &:before {
                                            position: absolute;
                                            left: 0;
                                            background-image: url(/wp-content/themes/stern_thomasson/imgs/paragraph-logo.svg);
                                            // background-image: url(/wp-content/themes/stern_thomasson/imgs/paragraph-logo-25x60.png);
                                            background-repeat: no-repeat;
                                            width: 65px;
                                            height: 90px;
                                            content:"";
                                            margin-top: 20px;
                                            margin-right: 0;
                                            animation-name: dropLogo;
                                            animation-iteration-count: 1;
                                            animation-timing-function: ease-out;
                                            animation-duration: 1s;
                                        }
                                    }
                                }
                                .entry-content {
                                    font-size:1.125rem;
                                    margin-left: 3.2em;
                                }
                            }
                            @media screen and (min-width:1280px) {
                                .entry-header h1 {
                                    padding-right:4em;
                                }
                            }
                        }
                    }
                }
            }
            @include respond-to(large) {
                .widget-area {
                    max-width: 350px;
                }
            }
        }
    }
}