.site-footer {
    // display: flex;
    background-color: $color__brand-1;
    color: #ffffff;
    text-align: center;
    @include padding-left-right;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 0.75rem;
    line-height: 1.3;
    .footer-wrapper {
        .company-info {
        }
        .footer-right {
            margin-left: auto;
            .associations {
                margin-top:1em;
                figure {
                    display: inline-block;
                    margin: 0;
                    .naca-logo {
                        width: 122px;
                        background-color: #ffffff;
                        margin-right: 5px;
                    }
                    .avvo-logo {
                        width: 100px;
                        background-color: #ffffff;
                        padding: .48rem .5rem;
                    }
                }
            }
            .disclaimer {
                font-family: $font__it;
                font-size: 0.625rem;
                width: 100%;
                @include respond-to(small-land) {
                    width: 70%;
                }
                @include respond-to(tablet) {
                    width: 60%;
                }
            }
        }
        @include respond-to(medium) {
            display: flex;
            align-items:flex-start;
            .company-info {
                text-align: left;
                font-size: 0.875rem;
                .bold-name {
                    font-family: $font__bold;
                    font-size: 1.063rem;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            .footer-right {
                text-align: right;
                margin-left: auto;
                .disclaimer {
                    margin-left:auto;
                }
            }
        }
    }
}