// $size__site-main: 100%;
// $size__site-sidebar: 25%;

#page {
    background-image: url(imgs/paper-background.svg);
    background-repeat: repeat;
    background-color: #ffffff;

    .site-content {
        @include padding-left-right;
        margin-bottom: 2.5rem;
        .content-area {
            @include outer-container;

            .site-main {
                font-family: $font__main;
                font-size: 0.8125rem;
                color: $color__text-main;

                article {
                    .entry-header h1 {
                        color: $color__brand-1;
                        font-family: $font__alt-bold;
                        font-size: 1.688rem;
                        margin: 0;
                        padding-top: 0.67em;
                        letter-spacing: 1px;

                        @include respond-to(large) {
                            &::before {
                                background-image: url(imgs/paragraph-logo.svg);
                                background-repeat: no-repeat;
                                // background-size: 10px 20px;
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                content:"";
                            }
                        }
                    }
                    .entry-content {
                        h3 {
                            font-family: $font__med;
                            font-size: 1.125rem;
                            color: #4d809b;
                            margin: 0;
                            padding-bottom:.25em;
                        }
                        p {
                            margin:0;
                            padding-bottom: 1em;
                        }
                        ul {
                            list-style: none;
                            @include reset;
                            li{
                                padding-left: 1.25rem;
                                position: relative;
                                padding-bottom: 0.625rem;
                                &::before {
                                    content: "\25B8";
                                    position: absolute;
                                    color: $color__brand-2;
                                    left: 0;
                                }
                                a {
                                    color: $color__text-main;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .widget-area {
            .sidebar-wrapper{
                background-color:$color__brand-1;
                color: #fff;
                font-size:0.75rem;
                font-family: $font__main;
                text-align: left;
                padding: 1.563rem;
                h3 {
                    font-size:2.3rem;
                    font-family: $font__alt-semi;
                    margin: 0;
                    margin-bottom: .5em;
                }
                h4 {
                    font-size: 1.11rem;
                    font-family: $font__bold;
                    margin-top: 1em;
                    margin-bottom: -10px;
                }
                .sidebar-icon {
                    // margin-top:
                    padding-left: 30%;
                    img {
                        width: 60px;
                    }
                }
                .sidebar-wysiwyg {
                    text-align: left;
                }
            }
        }
    }
}
