$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__main:     'robo-regular', sans-serif;
$font__bold:     'robo-bold', sans-serif;
$font__it:       'robo-it', sans-serif;
$font__med:      'robo-medium', sans-serif;
$font__alt-bold: 'cor-bold', sans-serif;
$font__alt-semi: 'cor-semi', sans-serif;