$color__brand-1: #082947;
$color__brand-2: #4d809b;
$color__brand-3: #939597;
$color__brand-4: #58585b; // 85% Black
$black: #000000;
$white: #ffffff;

$color__link: $color__brand-2;
$color__link-alt: #262626;
$color__link-visited: $color__brand-4;
$color__link-hover: $color__link-alt;

$color__text-main: $color__brand-4;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__background-body: $color__brand-1;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__background-button: $color__brand-2;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

$color__border-input: #ccc;
$color__border-abbr: #666;


