// $size__site-main: 100%;
// $size__site-sidebar: 25%;

#page {
    background-image: url(imgs/paper-background.svg);
    background-repeat: repeat;
    background-color: #ffffff;

    .site-content {
        @include padding-left-right;
        margin-bottom: 2.5rem;

        .content-area {
            @include outer-container;

            .site-main {
                font-family: $font__main;
                font-size: 0.8125rem;
                color: $color__text-main;

                article {
                    .entry-header h1 {
                        color: $color__brand-1;
                        font-family: $font__alt-bold;
                        font-size: 1.688rem;

                        @include respond-to(large) {
                            &::before {
                                background-image: url(imgs/paragraph-logo.svg);
                                background-repeat: no-repeat;
                                // background-size: 10px 20px;
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                content:"";
                            }

                        }
                    }
                }
            }
        }

        .widget-area {
            .sidebar-wrapper{
                background-color:$color__brand-1;
                color: #fff;
                font-size:0.75rem;
                font-family: $font__main;
                text-align: left;
                padding: 1.563rem;
                h3 {
                    font-size:2.5rem;
                    font-family: $font__alt-semi;
                    margin: 0;
                }
                .sidebar-icon {
                    // text-align: center;
                    padding-left: 30%;
                    img {
                        width: 60px;
                    }
                }
                .sidebar-wysiwyg {
                    text-align: left;
                }
            }
        }
    }
}
