// masthead.scss

#masthead {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 5px solid #939597;
    padding: 0.625rem;

    .site-branding {

        #logo svg {
            width: 175px;
            display: block;
        }
    }

    .main-navigation {

        .masthead-phone {
            a {
                text-decoration: none;
            }
        }


        .menu-toggle {
            display: block;
            margin-left: auto;

        }

        .menu-menu-container {

            ul {
                display: none;

                li {
                    list-style: none;

                    .current-menu-item {

                        a {

                        }
                    }

                    a {
                        text-decoration: none;

                    }

                }

                ul {

                    li {

                    }

                    a {

                    }
                }
            }

        }
    }

    .toggled .menu-menu-container ul {
        display: block;
    }
}