@import "bourbon";
@import "neat-helpers";

// Change the grid settings
$column: em(90);
$gutter: em(10);
$grid-columns: 12;
$max-width: em(1200);

// Breakpoints for neat span-columns
$iphone: 320px;
$mobile: 480px;
$tablet: 768px;
$laptop: 992px;
$large: 1200px;

// Visual Grid - Set to true to view the grid
$visual-grid: true;
$visual-grid-color: #d6d6d6;
$visual-grid-index: back;
$visual-grid-opacity: 0.2;