body,
button,
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	@include font-size(1);
	line-height: inherit;
}

/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@import "fonts";

/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
## Copy
--------------------------------------------------------------*/
@import "copy";